body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F7F7;
  font-family: 'Tinos', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* nav bar style */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
  border: 1px solid #DFDFDF;
  
}
.logo{
  height: 60px;
  width: 160px;
}
.search-box{
display: flex;
width: 500px;
}
.search-div{
  cursor: pointer;
  border: 1.5px solid #2E86C1;
  background-color: white;
  display: flex;
  align-items: center;
  height: 30px;
  border-radius: 5px;
  padding: 0px 6px;
  gap: 6px;
}
.search-box{
border: none;
outline: none;
}
.logout{
  cursor: pointer;
  color: #2E86C1;
}

/* home page  */
.group-title{
  color: #2E86C1;
  margin-top: 30px;
  margin-left: 200px;
}
.group-container{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}
.group-card{
  background-color:  hsl(205, 33%, 93%);
  width: 179px;
  height: 162px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2E86C1;
  font-weight: bolder;
  cursor: pointer;
  gap: 10px;
}
.new-group-card{
  background-color:  hsl(205, 33%, 93%);
  width: 179px;
  height: 162px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#2E86C1;
  cursor: pointer;
  font-weight: bolder;
  gap: 10px;
}
.group-item-icons{
  display: flex;
}


/* sign up sign in  style */
.home-container{
  display: flex;
  justify-content: space-between;
}
.home-part1{
display: flex;
justify-content: center;
align-items: center;
width: 50vw;
}
.login-card{
display: flex;
flex-direction: column;
border-radius: 6px;
padding: 30px;
gap: 16px;
}
.login-input{
  width: 400px;
  height: 30px;
}
.gg{
  height: 99vh;
  width: 50vw;
}
.sign-in-btn{
text-align: center;
background-color: #2E86C1;
border-radius: 6px;
width: 400px;
padding: 6px 4px;
color: white;
cursor: pointer;
}
.sign-up-btn{
  color: #2E86C1;
  cursor: pointer;
}
.home-part2{
  width: 50vw;
  height: 100vh;
  padding-top: 0px;
  background-color: #D6EAF8;
}
.row-flex{
  display: flex;
  gap: 4px;
justify-content: center;
align-items: center;
}
.no-line{
  text-decoration: none;
}
.our-blue{
  color: #2E86C1;
  font-size: 40px;
}
.red{
  color: red;
}
.display{
  display: block;
}
.hide{
  display: none;
}

/* create group  style */
.form-container{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-group-form{
  display: flex;
  border-radius: 8px;
  box-shadow: #DFDFDF;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: fit-content;
  padding: 60px;
  gap: 10px;
  color: #2E86C1;
}
.group-btns{
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
}
.submit-btn{
  background-color: #2E86C1;
  cursor: pointer;
  color: white;
  text-align: center;
  width: 120px;
  border-radius: 6px;
  padding: 6px;
}
.cancel-btn-group{
  background-color: #e15959;
  cursor: pointer;
  color: white;
  text-align: center;
  width: 120px;
  border-radius: 6px;
  padding: 6px;
}
.group-page{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* report style */
 .new-report-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2E86C1;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: medium;
}
.container-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
.blue-color{
  color: #2E86C1;
  align-items: center;
}
.report-item{
  display: flex;
  width: 800px;
  justify-content: space-between;
  border: 1px solid #2E86C1;
  color: black;
  align-items: center;
  background-color: #2e86c117;
  border-radius: 4px;
  cursor: pointer;
  font-size: larger;
}
.reports-container{
  margin-top: 25px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.report-item-title{
  padding-right: 600px;
  padding-left: 4px;
}
.report-item-icons{
  display: flex;
  gap: 8px;
}
.delete{
  padding: 10px;
  cursor: pointer;
  color:#e15959;
}
.update{
  cursor: pointer;
  color: #2E86C1;
  padding: 10px;

}
.update:hover{
  color: black;
}
.delete:hover{
  color: black;
}

/* new report style */
.create-title{
display: flex;
justify-content: center;
align-items: center;
color: #2E86C1;
}
.new-report-container{
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;
margin-top: 30px;
padding-bottom: 30px;
}
.report-input{
  outline: none;
  width: 1100px;
  height: 30px;
  padding: 4px;
  font-size: medium;
  border: 1px solid rgb(182, 179, 179);
  border-radius: 4px;
}
.report-text{
  border: 1px solid rgb(182, 179, 179);
  width: 1106px;
  border-radius: 4px;
}
.publish-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2E86C1;
  color: white;
  width: 90px;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
  font-size: medium;
}
.report-flex{
  display: flex;
  gap: 20px;
}
.cancel-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e15959;
  color: white;
  width: 90px;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
  font-size: medium;
}

/* view report style */
.report-view{
  background-color: white;
  border: 1px solid #2E86C1;
  border-radius: 8px;
  font-size: large;
  color: black;
  width: 1100px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.report-view-details{
  background-color: white;
  border: 1px solid #2E86C1;
  border-radius: 8px;
  font-size: large;
  color: black;
  width: 1100px;
}
.view-report-container{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: 30px;
}
.view-titles{
  font-size: 20px;
  color: #2E86C1;
  padding-bottom: 4px;
}

/* message style */
.message{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  color: #e15959;
  flex-direction: column;
  gap: 8px;
}
.back-btn{
  padding: 5px 20px;
  color: white;
  background-color: #2E86C1;
  border-radius: 8px;
  cursor: pointer;
}
